{% extends "themes/base_visitor.html.twig" %}

{% block title %}
Réinitialisation du mot de passe | Médecine du Monde
{% endblock %}

{% block description %}
Réinitialisez en toute sécurité le mot de passe de votre compte Médecine du Monde. Suivez les étapes pour retrouver l’accès à votre espace personnel.
{% endblock %}

{% block keywords %}
réinitialisation mot de passe, mot de passe oublié, sécurité compte, accès compte, blog médical, Médecine du Monde
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">
        Vérification de votre adresse e-mail
    </h1>

    <p class="text-center text-muted mt-3">
        Un e-mail de confirmation vous a été envoyé.
        Veuillez cliquer sur le lien contenu dans ce message pour activer votre compte.
    </p>

    <p class="text-center text-muted">
        Pensez à vérifier votre dossier <strong>courriers indésirables</strong> si vous ne trouvez pas l’e-mail.
    </p>
{% endblock %} 

