{% extends "themes/base_visitor.html.twig" %}

{% block title %}Bienvenue{% endblock %}

{%  block description%} Découvrez le Blog de Jean Dupont sur la médecine {% endblock %}

{% block main %}
<h1 class "text-center my-3 display-5">Bienvenue</h1>
{% endblock %}